
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Witamy w polnymak.pl, <%= @user.name %></h1>
    <p>
      Udało Ci się zarejestrować do polnymak.pl,
      Twoja nazwa użytkownika to: <%= @user.login %>.<br>
    </p>
    <p>
      Aby zalogować się na stronie, po prostu kliknij ten link: <%= @url %>.
    </p>
    <p>Dziękujemy za dołączenie i życzę udanego dnia!</p>
  </body>
</html>